@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

body {
    font-family: Figtree;
    background-color: hsl(47, 88%, 63%);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 375px;
    justify-self: center;
    align-items: center;
    margin-top: 10%;
    border: 1px solid black;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    padding: 2px;
}